{% extends 'base.html' %}

{% load manager_tags %}

{% block title %}Assign Email Addresses To Warmupper{% endblock title %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {% for email in object_list%}
        {% if email.is_active == True %}
            {{email}}
            --> 
            <select name="warmupper">
                <option value=""></option>
                {% for warmupper in warmupper_list %}
                    <option data-email-id="{{email.id}}" data-warmupper-id="{{warmupper.id}}" {% if email.id|checkassignment:warmupper.id %}selected{% endif %}>{{ warmupper.username }}</option>
                {% endfor %}
            </select>
            <br>
        {% endif %}
    {% endfor %}
    <button type="submit">Save</button>
</form>

{% endblock content %}