{% extends 'base.html' %}
{% load static %}

{% load manager_tags %}

{% block title %}Manage Email Addresses{% endblock title %}

{% block content %}

<div class="col-span-12 p-3">
    <a href="{% url 'm-add-new-email-addresses' %}" class="border-dotted border-2 bg-slate-600 p-1">Add New Email Addresses</a>
</div>

<div class="col-start-5 col-span-4 p-3 text-center font-bold">Manage Email Addresses</div>
<form class="grid grid-cols-4 col-span-12" method="post">
    {% csrf_token %}
    {% for email in object_list%}
        {% if email.is_active == True %}

            <div class="col-start-2 col-span-1 p-3">
                {{email}}
            </div>

            <div class="col-start-3 col-span-1 p-3">
                <select class="bg-slate-600 p-1 w-full" name="warmupper">
                    <option value=""></option>
                    {% for warmupper in warmupper_list %}
                        <option data-email-id="{{email.id}}" data-warmupper-id="{{warmupper.id}}" {% if email.id|checkassignment:warmupper.id %}selected{% endif %}>{{ warmupper.username }}</option>
                    {% endfor %}
                </select>
            </div>

        {% endif %}
    {% endfor %}
    <div class="col-start-2 col-span-2 p-3">
        <button class="p-1 border-2 bg-slate-800 w-full" type="submit" id="submitbutton">Save</button>
    </div>
</form>

{% endblock content %}

{% block customjs %}
  <script src="{% static 'js/manage-email-addresses.js' %}"></script>
{% endblock customjs %}