{% extends 'base.html' %}

{% load manager_tags %}


{% block title %}Manage Users{% endblock title %}

{% block content %}


<a href="{% url 'm-register-new-user' %}">Register New User</a>


<form method="post">
    {% csrf_token %}
    <ul>
        {% for user_form in user_forms %}
            {% for field in user_form %}
            <p>
                {{ field.label_tag }} {% add_attr field "data-user-id" user_form.instance.id %}
                
                {% for error in field.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </p>
            {% endfor %}


            <button type="submit">Submit</button>

        {% endfor %}

    </ul>
</form>




{% endblock content %}