{% extends 'base.html' %}
{% load static %}

{% load manager_tags %}

{% block title %}Manage Email Addresses{% endblock title %}

{% block content %}

<a href="{% url 'm-add-new-email-addresses' %}">Add New Email Addresses</a>


<form method="post">
    {% csrf_token %}
    {% for email in object_list%}
        {% if email.is_active == True %}
            {{email}}
            --> 
            <select name="warmupper">
                <option value=""></option>
                {% for warmupper in warmupper_list %}
                    <option data-email-id="{{email.id}}" data-warmupper-id="{{warmupper.id}}" {% if email.id|checkassignment:warmupper.id %}selected{% endif %}>{{ warmupper.username }}</option>
                {% endfor %}
            </select>
            <br>
        {% endif %}
    {% endfor %}
    <button type="submit" id="submitbutton">Save</button>
</form>

{% endblock content %}

{% block customjs %}
  <script src="{% static 'js/manage-email-addresses.js' %}"></script>
{% endblock customjs %}