{% extends 'base.html' %}

{% block title %}Manage Users{% endblock title %}

{% block content %}

<div class="col-start-5 col-span-4 p-3 text-center font-bold">Register A New User</div>
<form class="grid grid-cols-3 col-span-12" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="col-start-2 grid-span-1 grid grid-cols-4">
            <div class="col-span-1 p-3">{{field.label}}</div>
            <div class="col-start-2 col-span-3 p-3">{{field}}</div>
        </div>
    {% endfor %}

    <div class="col-start-2 col-span-1 p-3">
        <button class="p-1 border-2 bg-slate-800 w-full" type="submit">Register</button>
    </div>
</form>


{% endblock content %}