{% extends 'base.html' %}

{% block title %}Create Email List{% endblock title %}

{% block content %}

<div class="col-start-5 col-span-4 p-3 text-center font-bold">New Email List Request</div>

<form class="col-start-5 col-span-4 grid grid-cols-4" method="post" novalidate>
    {% csrf_token %}

    {% for field in form %}


        <div class="col-span-1 p-3">{{field.label}}</div>
        <div class="col-span-2 p-3">{{field}}</div>


        {% if field.id_for_label == 'id_gmail_count' %}
            <div class="col-span-1 p-3 text-right">[max: {{ email_counts.gmail_count }}]</div>
        {% elif field.id_for_label == 'id_google_workspace_count' %}
            <div class="col-span-1 p-3 text-right">[max: {{ email_counts.google_workspace_count }}]</div>
        {% elif field.id_for_label == 'id_microsoft_count' %}
            <div class="col-span-1 p-3 text-right">[max: {{ email_counts.microsoft_count }}]</div>
        {% elif field.id_for_label == 'id_msft_365_count' %}
            <div class="col-span-1 p-3 text-right">[max: {{ email_counts.msft_365_count }}]</div>
        {% elif field.id_for_label == 'id_yahoo_count' %}
            <div class="col-span-1 p-3 text-right">[max: {{ email_counts.yahoo_count }}]</div>
        {% elif field.id_for_label == 'id_other_count' %}
            <div class="col-span-1 p-3 text-right">[max: {{ email_counts.other_count }}]</div>
        {% else %}
            <div class="col-span-1 p-3 text-right"></div>
        {% endif %}

    {% endfor %}

    {% for field in form %}
        {% for error in field.errors %}
            <div class="col-span-4 p-4 bg-red-400 flex justify-center items-center">
                <span class="error w-full text-center">{{ error }}</span>
            </div>
        {% endfor%}
    {% endfor %}

    <div class="col-start-2 col-span-1 p-3">
        <button class="p-1 border-2 bg-slate-800 w-full" type="submit">Submit</button>
    </div>

</form>


{% endblock content %}