{% extends 'base.html' %}

{% block title %}Manage Email Lists{% endblock title %}

{% block content %}


<div class="grid grid-cols-3 col-span-12">
    <div class="px-10 pb-5 col-span-1 text-center font-bold">Email List Request</div>
    <div class="px-10 pb-5 col-span-1 text-center font-bold">Status</div>
    <div class="px-10 pb-5 col-span-1 text-center font-bold">Action</div>
</div>

<div class="grid grid-cols-3 col-span-12">
    {% for email_list_request in email_list_requests %}
        
        <div class="px-10 pb-5 col-span-1 text-center">{{ email_list_request.action_details.name }}</div>
        
        {% if email_list_request.status == "accepted" %}
            <div class="px-10 pb-5 col-span-1 text-center"><span class="p-1 border-2 bg-green-400">{{ email_list_request.status }}</span></div>
            <div class="px-10 pb-5 col-span-1 text-center"><a href="{% url 'download_email_list_assignments' email_list_request.id %}" class="p-1 border-2 bg-slate-600">Download</a></div>
        {% elif email_list_request.status == "rejected" %}
            <div class="px-10 pb-5 col-span-1 text-center"><span class="p-1 border-2 bg-red-400">{{ email_list_request.status }}</span></div>
            <div class="px-10 pb-5 col-span-1 text-center"></div>
        {% elif email_list_request.status == None %}
            <div class="px-10 pb-5 col-span-1 text-center"><span class="p-1 border-2">pending</span></div>
            <div class="px-10 pb-5 col-span-1 text-center"></div>
        {% else %}
            <div class="px-10 pb-5 col-span-1 text-center">{{ email_list_request.status }}</div>
            <div class="px-10 pb-5 col-span-1 text-center"></div>
        {% endif %}

    {% endfor %}
</div>

<div class="grid grid-cols-3 col-span-12">
    <div class="px-10 pb-5 col-span-1 text-center">
        <a href="{% url 's-create-new-email-list-request' %}" class="border-dotted border-2 bg-slate-600 p-1">New Email List Request</a>
    </div>
</div>



{% endblock content %}