{% extends 'base.html' %}

{% block title %}Manage Email Lists{% endblock title %}

{% block content %}

<a href="{% url 's-create-new-email-list' %}">Create New Email List</a>


<ul>
    {% for email_list_request in email_list_requests %}
        {% if email_list_request.status == "accepted" %}
            <li style="color: green;">{{ email_list_request.action_details.name }}</li>
            <a href="{% url 'download_email_list_assignments' email_list_request.id %}"><button>Download</button></a>

        {% elif email_list_request.status == "rejected" %}
            <li style="color: red">{{ email_list_request.action_details.name }}</li>
        {% else %}
            <li>{{ email_list_request.action_details.name }}</li>
        {% endif %}
    {% endfor %}
    
</ul>



{% endblock content %}