{% extends 'base.html' %}

{% block title %}Manage Email Lists{% endblock title %}

{% block content %}



<div class="grid grid-cols-3 col-span-12">
    {% for email_list_request in email_list_requests %}
        
        <div class="px-10 pb-5 col-span-1">{{ email_list_request.action_details.name }}</div>
        
        {% if email_list_request.status == "accepted" %}
            <div class="px-10 pb-5 col-span-1 text-green-400">{{ email_list_request.status }}</div>
            <div class="px-10 pb-5 col-span-1"><a href="{% url 'download_email_list_assignments' email_list_request.id %}">Download</a></div>
        {% elif email_list_request.status == "rejected" %}
            <div class="px-10 pb-5 col-span-1 text-red-400">{{ email_list_request.status }}</div>
            <div class="px-10 pb-5 col-span-1"></div>
        {% else %}
            <div class="px-10 pb-5 col-span-1">{{ email_list_request.status }}</div>
            <div class="px-10 pb-5 col-span-1"></div>
        {% endif %}

    {% endfor %}
  </div>

  <br><br>
  <a href="{% url 's-create-new-email-list' %}">Create New Email List</a>




{% endblock content %}