{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}RepRamp{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'tailwindcss/public/output.css' %}">
    </head>
    <body class="text-white bg-slate-700">
        <main>
            <div class="grid grid-cols-12">
                {% if user.is_authenticated %}

                    Hi {{ user.username }}!

                    <!--MANAGER HEADER-->
                    {% if user.role == "manager" %}

                        <!--MENUBAR-->
                        <div class="col-span-12 flex justify-evenly pt-8 pb-8">
                            <a class="py-2 px-8 bg-slate-800" href="{% url 'gateway' %}">Home</a>
                            <a class="py-2 px-8 bg-slate-800" href="{% url 'm-manage-some-users' %}">Manage Some Users</a>
                            <a class="py-2 px-8 bg-slate-800" href="{% url 'm-manage-email-addresses' %}">Manage Email Addresses</a>
                            <a class="py-2 px-8 bg-slate-800" href="{% url 'm-calculate-warmupper-email-engagement' %}">Calculate Warmupper Email Engagement</a>
                            <a class="py-2 px-8 bg-slate-800" href="{% url 'm-warmupper-email-engagement-and-renumeration' %}">Warmupper Email Engagement And Renumeration</a>
                        </div>
                    {% endif %}
                {% endif %}

                {% block content %}
                {% endblock content %}
            </div>
        </main>

        <script src="{% static 'js/javascripts.js' %}"></script>

        {% block customjs %}
        {% endblock customjs%}

    </body>
</html>