{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}RepRamp{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'tailwindcss/public/output.css' %}">
    </head>
    <body class="text-white bg-slate-700">
        <main>
            <div class="grid grid-cols-12">

                {% if user.is_authenticated %}

                    <!--SENDER HEADER-->
					{% if user.role == "sender" %}
						<div class="col-span-12 flex justify-evenly pt-8 pb-8">
							<a class="py-2 px-8 bg-slate-800" href="{% url 'gateway' %}">Home</a>
							<a class="py-2 px-8 bg-slate-800" href="{% url 's-manage-email-lists' %}">Manage Email Lists</a>
							<a class="py-2 px-8 bg-slate-800 text-gray-400" href="{% url 'logout' %}">Log Out</a>
						</div>

					<!--WARMUPPER HEADER-->
					{% elif user.role == "warmupper" %}
					<div class="col-span-12 flex justify-evenly pt-8 pb-8">
						<a class="py-2 px-8 bg-slate-800" href="{% url 'gateway' %}">Home</a>
						<a class="py-2 px-8 bg-slate-800" href="{% url 'w-assigned-email-addresses' %}">Assigned Email Addresses</a>
						<a class="py-2 px-8 bg-slate-800" href="{% url 'w-email-engagement-and-renumeration' %}">Email Engagement & Renumeration</a>
						<a class="py-2 px-8 bg-slate-800 text-gray-400" href="{% url 'logout' %}">Log Out</a>

					</div>

					<!--MANAGER HEADER-->
                    {% elif user.role == "manager" %}

                        <div class="col-span-12 flex justify-evenly pt-8 pb-8">
                            <a class="py-2 px-8 bg-slate-800" href="{% url 'gateway' %}">Home</a>
                            <a class="py-2 px-8 bg-slate-800" href="{% url 'm-manage-some-users' %}">Manage Some Users</a>
                            <a class="py-2 px-8 bg-slate-800" href="{% url 'm-manage-email-addresses' %}">Manage Email Addresses</a>
                            <a class="py-2 px-8 bg-slate-800" href="{% url 'm-calculate-warmupper-email-engagement' %}">Calculate Warmupper Email Engagement</a>
                            <a class="py-2 px-8 bg-slate-800" href="{% url 'm-warmupper-email-engagement-and-renumeration' %}">Warmupper Email Engagement And Renumeration</a>
							<a class="py-2 px-8 bg-slate-800 text-gray-400" href="{% url 'logout' %}">Log Out</a>
                        </div>

					<!--DIRECTOR HEADER-->
                    {% elif user.role == "director" %}

                        <div class="col-span-12 flex justify-evenly pt-8 pb-8">
                            <a class="py-2 px-8 bg-slate-800" href="{% url 'gateway' %}">Home</a>
							<a class="py-2 px-8 bg-slate-800" href="{% url 'd-manage-all-users' %}">Manage All Users</a>
							<a class="py-2 px-8 bg-slate-800" href="{% url 'm-manage-email-addresses' %}">Manage Email Addresses</a>
							<a class="py-2 px-8 bg-slate-800" href="{% url 'm-calculate-warmupper-email-engagement' %}">Calculate Warmupper Email Engagement</a>
							<a class="py-2 px-8 bg-slate-800" href="{% url 'm-warmupper-email-engagement-and-renumeration' %}">Warmupper Email Engagement And Renumeration</a>
							<a class="py-2 px-8 bg-slate-800 text-gray-400" href="{% url 'logout' %}">Log Out</a>
                        </div>

                    {% endif %}

                {% elif request.path != '/users/login/' %}

                <div class="col-span-12 grid grid-cols-12 grid-rows-6">
                    <div class="col-start-5 col-end-9 row-start-3 text-center">
                        Welcome to RepRamp!
                    </div>
                    <br><br><br>

                    <div class="col-start-5 col-end-9 row-start-4 text-center">
					    <a href="{% url 'login' %}" class="p-1 border-2 bg-slate-800">Log In</a>
                    </div>
                </div>
                {% endif %}

                {% block content %}
                {% endblock content %}
            </div>
        </main>

        <script src="{% static 'js/javascripts.js' %}"></script>

        {% block customjs %}
        {% endblock customjs%}

    </body>
</html>