{% extends 'base.html' %}
{% load static %}


{% block title %}Gateway{% endblock title %}

{% block content %}

        {% if user.role == "sender" %}

        {% elif user.role == "warmupper" %}


            <!--STATS-->
            <div class="col-span-12 pb-8">
              <canvas id="stats_chart" height="60px"></canvas>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>

              // Labels
              const labels = [{% for engagement in engagement_by_this_warmupper%}"{{engagement.created__date}}",{%endfor%}];

              // Data
              const data = {
                labels: labels,
                datasets: [
                {
                  label: 'Opens',
                  data: [{% for engagement in engagement_by_this_warmupper%}"{{engagement.opens_sum}}",{%endfor%}],
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  borderColor: 'rgb(255, 99, 132)',
                  borderWidth: 1.5
                },
                {
                  label: 'Clicks',
                  data: [{% for engagement in engagement_by_this_warmupper%}"{{engagement.clicks_sum}}",{%endfor%}],
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgb(54, 162, 235)',
                  borderWidth: 1.5
                }
              ]
              };

              // Config
              const config = {
                  type: 'bar',
                  data: data,
                  options: {
                    scales: {
                      y: {
                        beginAtZero: true
                      }
                    },
                    barPercentage: 0.8,
                    categoryPercentage: 0.1
                  },
                };

              // New Chart
              const myChart = new Chart(document.getElementById('stats_chart'), config);
              
            </script>



        {% elif user.role == "manager" %}

            <!--STATS-->
            <div class="col-span-12 pb-8">
                <canvas id="stats_chart" height="60px"></canvas>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>

                // Labels
                const labels = [{% for engagement in engagement_by_warmupper%}"{{engagement.warmupper__username}}",{%endfor%}];

                // Data
                const data = {
                  labels: labels,
                  datasets: [
                  {
                    label: 'Opens',
                    data: [{% for engagement in engagement_by_warmupper%}"{{engagement.opens_sum}}",{%endfor%}],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 1.5
                  },
                  {
                    label: 'Clicks',
                    data: [{% for engagement in engagement_by_warmupper%}"{{engagement.clicks_sum}}",{%endfor%}],
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgb(54, 162, 235)',
                    borderWidth: 1.5
                  }
                ]
                };

                // Config
                const config = {
                    type: 'bar',
                    data: data,
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      },
                      barPercentage: 0.8,
                      categoryPercentage: 0.1
                    },
                  };

                // New Chart
                const myChart = new Chart(document.getElementById('stats_chart'), config);
                
            </script>


            <!--ACTIONS-->


            <div class="grid grid-cols-12 col-span-12">
              {% for action in manager_actions %}
                    <div class="px-10 pb-5 col-span-2">{{ action.action_details.name }}</div>
                    <div class="px-10 pb-5 col-span-2">{{ action.action_details.sender.username }}</div>

                    <form class="grid col-span-8 grid-cols-8 pb-5" method="post">
                      {% csrf_token %}
                      <div class="px-10 col-span-2">
                        <button class="actionacceptbutton p-1 border-2 {% if action.status == 'accepted' %}bg-green-400{% endif %}" data-action-id="{{action.id}}">Accept</button>&nbsp;
                        <button class="actionrejectbutton p-1 border-2 {% if action.status == 'rejected' %}bg-red-400{% endif %}" data-action-id="{{action.id}}">Reject</button>
                      </div>
                      <div class="px-10 col-span-4"><input class="commentfield border-solid border-2 p-1 bg-slate-600 w-full" type="text" name="commentfield" data-action-id="{{action.id}}" {%if action.comment%} value="{{action.comment}}" {% endif %}></div>
                      <div class="px-10 col-span-2"><button type="submit" class="commentsubmitbutton p-1 border-2" data-action-id="{{action.id}}">Submit</button></div>
                    </form>
              {% endfor %}
            </div>

        {% elif user.role == "director" %}


          <!--STATS-->
          <div class="col-span-12 pb-8">
            <canvas id="stats_chart" height="60px"></canvas>
          </div>

          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

          <script>

            // Labels
            const labels = [{% for engagement in engagement_by_warmupper%}"{{engagement.warmupper__username}}",{%endfor%}];

            // Data
            const data = {
              labels: labels,
              datasets: [
              {
                label: 'Opens',
                data: [{% for engagement in engagement_by_warmupper%}"{{engagement.opens_sum}}",{%endfor%}],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgb(255, 99, 132)',
                borderWidth: 1.5
              },
              {
                label: 'Clicks',
                data: [{% for engagement in engagement_by_warmupper%}"{{engagement.clicks_sum}}",{%endfor%}],
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgb(54, 162, 235)',
                borderWidth: 1.5
              }
            ]
            };

            // Config
            const config = {
                type: 'bar',
                data: data,
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  },
                  barPercentage: 0.8,
                  categoryPercentage: 0.1
                },
              };

            // New Chart
            const myChart = new Chart(document.getElementById('stats_chart'), config);
            
          </script>

        {% endif %}


{% endblock content %}

{% block customjs %}
  <script src="{% static 'js/gateway.js' %}"></script>
{% endblock customjs %}