{% extends 'base.html' %}

{% block title %}Gateway{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}

        Hi {{ user.username }}!

        {% if user.role == "warmupper" %}

            <a href="{% url 'w-assigned-email-addresses' %}">Assigned Email Addresses</a>
            <a href="{% url 'w-email-engagement-and-renumeration' %}">Email Engagement & Renumeration</a>

        {% endif %}

        <p><a href="{% url 'logout' %}">Log Out</a></p>

    {% else %}

        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a><br>
        <a href="{% url 'register' %}">Sign Up</a>

    {% endif %}

{% endblock content %}